/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    background-color: #f4f4f4; /* Adiciona uma cor de fundo para toda a página */
}

.header {
    padding: 50px 20px;
    background-color: #fff;
}

.header .profile img {
    border-radius: 50%;
    width: 80%; /* Ajusta a largura da imagem para ocupar 80% da tela */
    max-width: 300px; /* Define um tamanho máximo para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

.header .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff6600;
}

.header .profile p {
    font-size: 16px;
    color: #666;
}

.links {
    padding: 15px;
    background-color: #f4f4f4;
}

.link {
    display: block;
    background-color: #ff6600;
    color: #fff;
    padding: 20px;
    margin: 10px auto;
    width: 90%; /* Ajusta a largura dos links para ocupar 90% da tela */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-bottom: 18px;
    font-size: 18px; /* Ajusta o tamanho da fonte dos links */
}

.link:hover {
    background-color: #e55a00;
}

.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 853px) {
    .header {
        padding: 30px 10px;
    }

    .header .profile h1 {
        font-size: 20px;
    }

    .header .profile p {
        font-size: 14px;
    }

    .link {
        width: 90%;
        padding: 15px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 20px 10px;
    }

    .header .profile img {
        width: 70%; /* Ajusta a largura da imagem para 70% da tela */
        max-width: 150px; /* Define um tamanho máximo para a imagem em telas pequenas */
    }

    .header .profile h1 {
        font-size: 18px;
    }

    .header .profile p {
        font-size: 12px;
    }

    .link {
        width: 95%;
        padding: 12px;
        font-size: 14px;
    }

    .footer {
        font-size: 12px;
    }
}

